#header a{
	display: block;
}

#header h2{
	text-align: center;
}

#section{
	position: absolute;
	top: 44px;
	bottom: 0;
	width: 100%;
	max-width: 640px;
	background-color: #fff;
}
#section img{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}